/**
 * Custom
 */
main {
  min-height: 80vh;
  .content {
    min-height: 50vh;
  }
}

.text-green {
  color: green;
}

.text-center {
  text-align: center;
}

.marquee {
  height: 25px;
  width: 100%;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.tag {
  display: inline-block;
  padding: 0 0.1em;
  cursor: pointer;

  &:hover {
    color: var(--background-color);
    background-color: var(--code-color-1);
  }

  &.selected {
    color: var(--background-color);
    background-color: var(--base-color);
  }
}

.post {
  &.hidden {
    display: none;
  }
}

// table
table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  padding: 0 10px;
}

table,
th,
td {
  border: 1px solid var(--base-color);
  border-collapse: collapse;
}

// code
code.language-plaintext {
  padding: 0 5px;
  color: var(--code-color-19);
  background-color: var(--code-background-color);
}
